<meta charset="UTF-8" />
<link  rel="stylesheet" type="text/css" href="/css/game/in_game_css.css"/>
<title>Đua xe bắn súng</title>
<object id="html_shockwave" classid="clsid:166B1BCA-3F9C-11CF-8075-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/director/sw.cab#version=11,5,7,609" ID=burninrubber5 width=800 height=450> 
<param name=src value="/content/burnin-rubber-5/sis/BurninRubber5.dcr" /> 
<param name=swStretchStyle VALUE=fill> <param name=sw1 VALUE="140530"> 
<param name=swRemote VALUE="swSaveEnabled='true' swVolume='true' swRestart='true' swPausePlay='true' swFastForward='true' swContextMenu='true' "> 
<param name=bgColor VALUE=#AAAAAA/> 
<param name=PlayerVersion value=11> 
<param name=swList value="" /> 
<param name=base value="." /> 
<param name=sw8 value="39a3b773643de893b113b739e5ac1235" /> 
<param name=sw9 value="burnin-rubber-5" /> 
<embed src="http://www.shockwave.com/content/burnin-rubber-5/sis/BurninRubber5.dcr" bgColor=#AAAAAA base="." name="burninrubber5" sw1=140530 swLiveConnect=true  width=800 height=450 PlayerVersion=11 swStretchStyle=fill sw8="39a3b773643de893b113b739e5ac1235" sw9="burnin-rubber-5" swRemote="swSaveEnabled='true' swVolume='true' swRestart='true' swPausePlay='true' swFastForward='true' swContextMenu='true' " swList="" type="application/x-director" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveDirector"> </embed> 
</object>