.ads_left {
position: fixed;
margin-top: 168px;
width: 180px;
height: 490px;
margin-left: 2px;
}
.ads_wrapper {
display: inline-block;
margin-left: 15%;
width: 728px;
height: 90px;
margin-top: 15px;
position: absolute;
z-index: 10000;
}

#advZoneSticky{
left: 1049px!important;
top: 43px!important;
}

.ads_micro_right {
position: fixed;
margin-left: 77.7%;
margin-top: 165px;
}

#search {
width: 275px !important;
height: 30px !important;
margin-top:0px;
}
.fa-search {
position: fixed;
margin-top: -25px;
margin-left: 18%;
margin-left: 250px !important;
}
.firefox_search {
margin-left: -30px !important;
}
.fa-hand-o-up {
margin-top:20px!important;
}
a {
cursor:pointer;
}
#main_wrapper {
overflow: hidden;
margin-top: -115px;
}

.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus {
color:yellow;
}  
.col-md-11 {
margin-bottom: 3px !important;
margin-left: 186px !important;
margin-top: 168px !important;
}
.col-md-11 a {
	width:32.5px!important;
	--margin-left:1px!important;
}
#song-content,.content {
width: 820px !important;
margin-left: -89px !important;
margin-top: 77px;
}
code {
	margin-left: 15px;
    margin-top: -60px !important;
    position: absolute !important;
    white-space: normal !important;
}
.resultStats {
	display: inline-block;
    margin-left: 80% !important;
    margin-top:0px !important;
    position: absolute !important;
}
.btn-group a {
cursor:pointer;
}
.container {
margin-left: 275px!important;
margin-top:115px;
}
body {
--background-image: url('/images/background/body-bg.gif') !important;
overflow-x: hidden !important;
background-color:transparent;
}
.pagination {
	margin-left: 30px!important;
}
.mobile {
display: inline-block;
position: absolute;
margin-top: -8%;
margin-left: 46%;
font-size: 18px;
width: 274%;
}