.luanvan_social_obj_2_doaneduvn {
  margin-top: -37px!important;
}
.middle-adv-z-index {
	z-index:1000001;
}
.btn-close-advertisement {
z-index:100000;
}
.btn-close-advertisement-obj-1 {
	position: absolute;
	margin-left: 34.7%;
	margin-top: 61px;
	display: block;
	height: 27px;
}
.btn-close-advertisement-obj-2 {
	position: absolute;
	margin-left: 52.25%;
	margin-top: 70px;
	height: 27px;
}
.box-header {
background:none!important;
}
.dropdown-menu {
  min-width: 90px!important;
}
#viewdoc .doc-preview {
	border-bottom:none!important;
}
#ads_zone16623 .ssvzHeader {
	background-color: rgb(238, 244, 245);
}
.body_doc_edu_vn {
	background:none!important;
}

.like-doc {
  position:absolute;
  margin-left: 22%;
  margin-top: -40px;
  cursor:pointer;
  z-index:1000000;
  color:black;
}

.adv_ants_header {
  margin-left: 200px;
  position: absolute;
  margin-top: 88px;
  display: block;

}

#site_map_context {
	margin-top:1%;
}
.close {
	opacity:1!important;
}
body {
	overflow-x:hidden:
}

#wrap {
	margin-left: 75px!important;
} 
#modal_advertisement_left {
  display: block;
  width: 315px;
  margin-top: -240px;
  margin-left: -618px;
  height: 575px;
}
#modal_advertisement_left .modal-body {
  margin-top: 35px;
  margin-left: -10px;
}
.z-index-1 {
	z-index:-1!important;
}
.bottom_sticky_adv {
	position:fixed;
	margin-left: 91%!important;
	margin-top: 7%!important;
}

.bottom_sticky_adv * {
	border:none!important;
}

.gplus_top {
  margin-left: -132px!important;
  margin-top: 6.4px!important;
}
#___ytsubscribe_0 {
	margin-left:122px!important;
}
.fb_obj1 {
	margin-left:-48%!important;
	margin-top:-24px!important;
}

.fanpage_top_left_obj1 {
  margin-left: -33%!important;
  margin-top: -44px!important;
}

.fanpage_top_left {
  margin-left: -893px!important;
  margin-top: -30px!important;
}

.box-header-obj1 {
  color: red;
  margin-top: 2%;
  position: absolute;
  margin-left: 1%;
} 
.fb-share-button_template_1 {
  margin-left: 46px!important;
  margin-top: 13px!important;
}

#download_guide {
	display: block;
	width: 70%;
	margin-left: -21%;
	height: 575px;
	overflow: hidden;
	margin-top: -18%;
}
#download_guide button {
	margin-top: -65px!important;
	color: red;
	font-weight: bold;
	position: absolute;
	margin-left: 94%;
 }

#download_guide .modal-header{
	border-bottom: none!important;
	width: 90.7%;
	margin-left: 35px;
}

#download_guide .modal-body{
	margin-left: 20px!important;;
}

.in_modal_header_adv {
	width: 850px;
	height: 110px;
	margin-top: -10px;
	margin-left: 15px;
	position:absolute;
}
#download_guide iframe {
	margin-top: 95px;
	margin-left: 15px;
	position:absolute;
}

.in_modal_ads_right {
	float: left;
	margin-right: 60px;
	margin-top: -5px!important;
}

.in_modal_ads_right * {
	border:none!important;
	text-align:justify;
}

.btn-download-guide-obj1{
	margin-top: 2.5%!important;
}
.btn-download-guide-obj1-onload{
  margin-top: 61px!important;
  margin-left: -0.5%!important;
}

.btn-download-guide-obj1-doc-edu-vn {
	margin-top:1px!important;
}
.btn-download-guide-obj2-doc-edu-vn {
	margin-top:0px!important;
}

.btn-download-guide-obj1-zbook-vn {
	margin-top: 45px!important;
	margin-left: -0.5%!important;
}

.obj2-zbook-vn {
	margin-top: 89px!important;
}

.obj2-luanvan365 {
	margin-top: 105px!important;
}
.obj2-timtailieuvn {
	margin-top: 95px!important;
	margin-left: 500px!important;
}

.obj1-timtailieu-vn {
	  margin-top: 51px!important;
	  margin-left: -5px!important;
}

.relevant-adv {
  display:none;
  position: fixed;
  margin-left: 51.8%;
  margin-top: 4.5%;
  height: 545px;
  z-index: 10000;
}

.btn-relevant-docs-obj1 {
	margin-top: 4px!important;
}

.btn-relevant-docs {
	position:absolute;
	margin-top: 0px;
	margin-left:190px;
	width: 100px!important;
	z-index: 1000000;
	cursor: pointer;
	height: 27px;
}

.btn-relevant-docs-obj1 {
	margin-top: 1px!important;
}

.btn-download-guide-close-relevant-doc,.btn-download-guide-close-middle-adv {
	margin-left:240px!important;
}
.btn-download-guide-close-middle-adv-obj1 {
  margin-left: -6px!important;
}
.btn-download-guide {
	position: absolute;
	margin-top: 70px;
	margin-left: 235px;
	height: 27px;
	width: 140px!important;
	z-index: 1000000;
}
.doc-object-focus {
  margin-top: 25px;
  margin-left: -569px
}
.p_google_plus_close_guide,.p_google_plus_close_related_doc{
	margin-left: -75px!important;
	margin-top: 6px!important;
}
.btn_guide_download_obj1{
	margin-top: 29px!important;
	margin-left: -59%;
}
.display-none {
	display:none!important;
}
.close_advertisement {
	cursor:pointer;
}

/*voer*/
.module-title {
  margin-left:14%;
}
.module-view-content {
  max-width: 800px;
  margin-left: 14%;
  text-align: justify;
  font-size: 15px;
}
.module-view-content .title {
  font-size: 18px;
  color: #317EAC;
}
.module-view-category,.navbar-header,.right-row,#material-right-side,.author-module-list,.remove {
	display:none;
}
.collection-view-title {
	margin-left: 14%;
}
.collection-view-title h1,.collection-view-title h2 {
  font-size: 18px!important;
  color: rgb(0, 178, 255)!important;
}
/*end*/


/* hightlight advertisement object */
.blink {
	background-color: #B8FFC1 !important;
	height: 110px;
	width: auto;
}

.blink_rose {
	background-color:rgb(238, 244, 245) !important;
	height: 110px;
	width: auto;
}
/*end*/

#inner #content {
  margin-left: 30px!important;
}

.advertisement_hightlight {
  background: bisque!important;
}

.fanpage_advertisement {
  position: fixed;
  margin-top: -560px!important;
  margin-left: -280px!important;
}
.ads_remove_border {
	border: none!important;
	background: #FFFFFF!important;
}

#adv_temp {
  margin-top: -10%;
  height: 245px;
  width: 76%;
  margin-left: -37%;
  overflow: hidden;
}

.ads_micro_header {
  z-index: 100000;
  display: none;
  position: fixed;
  margin-top: 21.5%;
  margin-left: 14.2%;
  width: 980px;
  height: 184px;
}
.ads_micro_header_template_1 {
  margin-top: 4.8%!important;
  margin-left: 18.5%!important;
}
.ads_micro_top {
  width: 845px;
  height: 110px;
  display:none;
  margin-top: -8%;
  margin-left: 0.5%;
}
.ads_micro_top_template_2 {
	margin-left: -1.25%!important;
}
.ads_micro_right_bottom_sticky {
	position: fixed;
	margin-left: 76.95%;
	margin-top: 476px;
}
.fb-like-box-left-reading{
	  position: fixed;
	  margin-top: -6px!important;
	  margin-left: -82%!important;
	  display:none;
}
.relevant-docs-close {
	float:right;
	cursor:pointer;
}

.relevant-docs {
		display:none;
		margin-left: -13%;
		text-align: justify;
		width: 22.2%;
		z-index: 10000000;
		position: fixed;
		margin-top: -2%;
}
.relevant-docs .box ul li a:link {
		color:white!important;
}
.relevant-docs .box{
		display: inline-block;
		padding: 15px;
		border-spacing: 4px;
		color: hsl(0,0%,85%);
		background-color: #474747;
		background-image: url(/pdf/images/texture.png), linear-gradient(hsla(0,0%,32%,.99), hsla(0,0%,27%,.95));
		box-shadow: inset 1px 0 0 hsla(0,0%,100%,.08), inset 0 1px 1px hsla(0,0%,0%,.15), inset 0 -1px 0 hsla(0,0%,100%,.05), 0 1px 0 hsla(0,0%,0%,.15), 0 1px 1px hsla(0,0%,0%,.1);
		border: 1px solid hsla(0,0%,0%,.5);
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
		width: 88.8%;
		height:575px;
		overflow-y: scroll;
		margin-left: -1px;
}
.relevant-docs .header {
		margin-top: 6%;!important;
}
.fb_iframe_widget_right {	
		margin-left: 90%!important;
}

.ads_title_reading {
	margin-top: 26%!important;
	margin-left: -6%!important;;
}

.ads_micro_right {
position: fixed;
margin-left: 81.3%;
margin-top: 92px;
z-index:10000;
}

.eclick_right {
	margin-left: 88.2%!important;
	display:none;
}

.btn-download {
display:none;
margin-top: 0px;
position: absolute;
margin-left: 88px;
height:27px;
width: 100px!important;
z-index: 10000000;
}

.btn-download-right {
margin-top: 0px;
position: absolute;
margin-left: 53.7%;
height: 27px;
width: 107px!important;
}

#obj1 {
  margin-left:14px!important;;
}

.btn-download-right-obj1-with-header_adv{
  margin-top:  7.5px!important;
  margin-left: 52.8%;
}

#book_title_read_online {
color:blue;
height: 20px;
margin-left: 1%;
font-size: 15px;
margin-top: 2px;
font-weight: bold;
}
.fullscreen {
	overflow-y: hidden;
}
#modal_read_online{
margin-top: -21.6%;
display: block;
width: 99%;
margin-left: -49.5%;
height: 98%;
overflow-y: hidden;
}
.btn-fullscreen {
position: absolute;
margin-top: 0px;
margin-left: 680px;
display: none;
height: 26px;
}
#modal_read_online .modal-body embed {
width: 99%!important;
height: 100%!important;
}
.view_my_bookcase {
float: left;
position: fixed;
margin-left: -12%;
margin-top: -1px;
}
.tb_dang_ky {
float: right;
position: fixed;
width: 100%;
margin-top: -13px;
margin-left: 15px;
font-size: 13px;
}
#modal_login {
height:230px;
margin-left: -15%;
}
.modal-header h4 {
font-size: 15px;
font-weight: bold;
}
.btn-add-book {
margin-left: -1px;
position: absolute;
margin-top: -2.5%;
}

.eclick_left{
  margin-left:5px!important;
}

.adv_micro_left_reading {
margin-top:  100px!important;
margin-left: 4px!important;
}

.box a:hover {
color:red!important;
}
.box a:link {
color:#007FC2!important;
}
#viewdoc .doc-intro {
	margin-bottom: 70px!important;
	margin-left: 51px!important;
}

#___plusone_0 {
	margin-left: -133px!important;
	margin-right: -25px!important;
	margin-top:11px!important;
	z-index: 10000;
}
.youtube_video {
  position: absolute;
  margin-top: -20px!important;
  margin-left: 245px!important;
}
.fb_iframe_widget {
	margin-left: -37%;
	z-index: 100!important;
	height: 26px!important;
	position: absolute;
	margin-top: 7px;
}

.book_title {
	background: none!important;
	color: rgb(15, 193, 216)!important;
	font-size:13px;
	font-weight:bold!important;
	width: 800px!important;
	clear:both;
	height:20px!important;
	margin-top:-10px!important;
	font-size:13px;
	border-radius: 7px 7px;
}

.book_title_timtailieu_vn {
	margin-left: 225px!important;
	position: absolute;
	margin-top: -10px!important;
	max-width: 665px!important;
	height: 70px!important;
}

.doc-preview object,.doc-preview embed {
	height:590px;
	width:925px;
	margin-left: 30px;
}
.doc-preview-embed-obj1 {
	position:absolute;
	z-index:100;
}

#inner {
margin-left:4%!important;
margin-top: 3px!important;
display: block!important;
}
.inner_bg_adv {
background: rgb(238, 244, 245)!important;
}
#inner #content-widget {
margin-left: 64%;
position: absolute;
margin-top: 3%;
}
.ads_reading{
	margin-top: 0.5%!important;
}
.adv_obj_1_reading {
margin-top:0.5%!important
}
.ads_template_1_reading{
	margin-top: 1%!important;
}
#viewerPlaceHolder {
width: 845px!important;
height: 545px!important;
margin-left: 15px!important;;
}
#viewdoc .box {
border:none!important;
}
.doc-intro {
margin-top:10px;
}

.doc-intro p,.doc-content {
width:825px!important;
margin-top: 95px!important;
font-size: 14px;
text-align: justify;
color: rgb(129, 114, 114);
clear:both;
}
.cs95E872D0 {
	margin-top:5px!important;
}
.fb-like {
margin-top:5px;
}

.obj_left {
	margin-left: 45px!important;
}
.obj_left_reading {
	  margin-top: 7px!important;
	  margin-left: 240px!important;
}
.luan_van_social_right {
	margin-top: -10px!important;
}
.luanvan_social {
	height: 30px;
	position: absolute;
	width:100%;
	margin-left:680px;
	margin-top: -35px;
	z-index: 10000;
}
.box ul li p {
border-bottom: 1px solid rgb(126, 67, 67);
}
.box ul li a {
font-size:13px!important;
}
